:root{
  --colour1:#44779C;    /* Used for dropdown backg color, nav panels gradient and side nav Button gradient*/
  --colour2:#44779C;    /* Used for nav panels gradient*/
  --colour3:#F8F4F9;    /* Used for Text Background in the Rules section*/   
  --colour4:#2e709f;    /* Used for line break colour and side nav Button gradient*/
  --colour5:#D9D0DE;    /* Used for Banner Text*/
  --colour6:#F96900;    /* Used for Boxes*/
  --colour7:#F8F4F9;    /* Used for Background colour*/
  --colour8:#1c1c1c;    /* Used for rule text colours*/
  --colour9:#1c1c1c;  /* Used for Text*/
  --colour10:#F8F4F9;    /* Used for Background colour Gradient*/
  --colour11:#034663;    /* Used for Breadcrumb position*/
  --colour12:#ff9b20;    /*collapsible gradient*/
  --colour13:#787777;    /*Footer text colour */
}


body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  
  background-color: var(--colour7);
  
  
}

body#rule
{
background-color: var(--colour3);

}



span{
  font-size: 8.5px;
}

a{

  
  color: var(--colour9);
  
}

b
{
  font-size: 16px;

}

u{
  font-size: 15px;
}

hr{
  border:solid;
  border-color:var(--colour4);
  border-width: 1px;
  border-radius: 5px;
  color:var(--colour4);
}

p{
  font-size: 14px;
  font-family: 'Benton Sans', BentonSans,Arial, Helvetica, sans-serif;
}

.footerText p
{  
  font-size: 11px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

li{
  font-size: 14px;
}

h2
{
  color:var(--colour5);
}

img{
  width:95%;
}

.center{
  
  background-color:var(--colour6) ;
  display:inline-block;
  text-align: center;
  width:100%;
  
}


.wrapper
{
  position:relative;
  min-height: 100vh;
}



.btn {
  width:70px;
  height:70px;
  border: none;
  color: var(--colour5);
  padding: 12px 16px;
  font-size: 14px;
  border: solid;
  border-color: var(--colour4);
  border-width: 1px;
  border-radius: 50%;
  /*border-radius: 180px;*/
  cursor: pointer;
  background-color: var(--colour4);
  background-image: linear-gradient(  (var(--colour2)), (var(--colour4)));
 
}

.btn2 {
  width:70px;
  height:70px;
  border: none;
  color: var(--colour5);
  padding: 12px 16px;
  font-size: 14px;
  border: solid;
  border-color: var(--colour4);
  border-width: 1px;
  border-radius: 50%;
  /*border-radius: 180px;*/
  cursor: pointer;
  background-color: var(--colour4);
  background-image: linear-gradient(var(--colour11), var(--colour11));
  
 
}

.centerButton {
  /* Used to center text on the buttons*/
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.CategoryButtonHomeLeft {
  /* Used for creating and positioning the buttons on the left hand side of the home screen*/
  height:135px;
  width: 42%;
  background-color: var(--colour7);
  float:left;
  margin-Top: 10px;
  margin-bottom: 15px;
  border: 5px solid var(--colour6);
border-radius: 3px;
  
}

.CategoryButtonHomeRight {
  /* Used for creating and positioning the buttons on the right hand side of the home screen*/
  height:135px;
  width: 42%;
  
  background-color: var(--colour7);
  
  float:right;
  margin-Top: 10px;
  margin-bottom: 15px;
  border: 5px solid var(--colour6);
  border-radius: 3px;
}


.CategoryButtonSubLeft {
  /* Used for creating and positioning the buttons on the left hand side of the rule category screen*/
  height:115px;
  width: 42%;
  
  background-color: var(--colour7);
  float:left;
  margin-Top: 10px;
  margin-bottom: 15px;
  border: 5px solid var(--colour6);
  border-radius: 3px;
}

.CategoryButtonSubRight {
/* Used for creating and positioning the buttons on the right hand side of the rule category screen*/
  height:115px;
  width: 42%;
  
  background-color: var(--colour7) ;
  float:right;
  margin-Top: 10px;
  margin-bottom: 15px;
  border: 5px solid var(--colour6);
  border-radius: 3px;
}


.Leftsidenav {
  /* The left side nav/breadcrumb menu design*/
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--colour1);
  overflow-x: hidden;
  padding-top: 25%;
  
  
  
}

.Leftsidenav a {
  /* The left side nav/breadcrumb menu font*/
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  display: block;
  
}

.Leftsidenav a:hover {

  color: var(--colour5);
}

.main {
  /* Main section for the home pages*/
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  padding-top: 18%;
  text-align: center;
}

.mainSub {
  /* Main section for the subcategory pages*/
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  padding-top: 18%;
  
}



  /* Hamburger Menu Starts*/
  .topnav {
    /* Used for the top nav menu */
    overflow: hidden;
    background-color: var(--colour2);
    position: fixed;
    width:100%;
    Left:0;
    Top:0;
    text-align:center;
    z-index: 2;
    
   
  }
  
  .topnav #myLinks {
    /* Used for the transition when the hamburger button is pressed*/
    display:none;
    
    transition: 0.5s;
  }


  
  .topnav a {
    /* Used for the top nav bar font*/
    color: var(--colour5);
    padding: 24px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }
  
  .topnav a.icon {
/* Used for the top nav bar hamburger icon*/
    background:var(--colour1);
    background-image:linear-gradient(var(--colour2), var(--colour1));
    position:absolute;
    right:0;
    top:0;
  }
  




  
  .Banner {

/* Used for styling the top nav bar*/
    background-color: var(--colour1);
    background-image: linear-gradient(  var(--colour2), var(--colour1));
    color:var(--colour5);
    z-index:2;
    
    margin:auto;
    
    
  }
  
  
  .RuleScreenStuff 
  {
    /* Used for managing the rule content on the rule pages*/
    color: var(--colour9);
    display: flex;
    justify-content: center;
   align-items: center;
   

  }

  .WhiteText
  {
    /* Used for the header font */
    color: var(--colour9);
    display: flex;
    justify-content: center;
  align-items: center;
  }


.TextContent
{
  /* Used for the drop down sections in the rule menu. Text background for information*/
  display: none;

  background-color: white;
  border:solid;
  border-radius:5px;
  border-width: thin;
  padding-left:5px;
  padding-right:5px;
  border-color: rgb(165, 165, 165);
}

.collapsible
{
  /* Used for the buttons that expand rule information on the rule pages*/
  background-color: var(--colour6);
  background-image: linear-gradient( var(--colour6) , var(--colour12));
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  padding:5px;
  font-size: 18px;
  border-color: #f9680023;
  height:60px;
  display: flex;
  align-items: center;
  color: var(colour9);
}

.footerText
{

  /* Used for the footer text on rules guiding to the R&A site*/
  height:32px;
  font-size: 11px;
  color:var(--colour13);
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  position:absolute;
  bottom: 0;
  
}



  .bar1, .bar3 {
    /* Used for creating the hamburger icon*/
    width: 35px;
    height: 4px;
    background-color: var(--colour5);
    
    margin: 5px 0;
    transition: 0.2s;
  }
  
  .bar2
  {
     /* Used for creating the hamburger icon*/
    width: 35px;
    height: 4px;
    background-color: var(--colour5);
    

    margin: 5px 0;
    transition: 0.2s;
  }
 
  
 
 .change .bar1 {
    /* Used for transforming the hamburger icon when clicked*/
  opacity: 0;
    
  }
  
  
  .change .bar3 {
     /* Used for transforming the hamburger icon when clicked*/
    opacity: 0;
    
  }
